
<div id="chatbox" class="startChat">

	<h3>Users online</h3>
	<div>
	    <select id="users-list" class="col-lg-6"size="10"></select>
	    <button id="private-msg-button">Send private message to selected user</button>
	    <div id="convos"></div>
	</div>

</div>
<div id="disconnect" style="display:none">Waiting for reconnect...</div>
