

	<div class="row">
		<div style="margin:0% auto; max-width:300px;">
			<div class="card-panel grey lighten-4 z-depth-4 center">
				<form action="/group/create" method="POST" accept-charset="utf-8" class="form-new">
					<% if(flash && flash.err) { %>
						<ul class="alert alert-success">
							<% Object.keys(flash.err).forEach(function(error){ %>
							<li> <%- JSON.stringify(flash.err[error]) %> </li>
						    <% }); %>
						</ul>
					<% } %>
					<div class="row">
						<h4 class="center">Nuevo Grupo de Trabajo</h4>
					</div>
					<div class="row margin">
						<div class="input-field col s12">
							<i class="mdi-social-person-outline prefix"></i>
	            			<input name="name" id="name" type="text" class="validate" autofocus required>
	            			<label for="name" class="center-align">Nombre</label>
						</div>
					</div>
					<div class="row margin">
						<div class="input-field col s12">
							<i class="mdi-social-person-outline prefix"></i>
	            			<input name="description" id="description" type="text" class="validate" required>
	            			<label for="description" class="center-align">Descripcion</label>
						</div>
					</div>
					<div class="row margin">
			        	<div class="input-field col s12">
			            	<i class="mdi-communication-email prefix"></i>
			            	<input name="ubication" id="ubication" type="text" class="validate" required>
			            	<label for="ubication" class="center-align">Ubicacion</label>
			          	</div>
        			</div>

          			<div class="row">
          				<div class="input-field col s12">
          					<input type="submit" class="btn waves-effect waves-light col s12" value="Crear Grupo"/>
          					<input type="hidden" name="_csrf" value="<%=_csrf %>"/>
          				</div>
          			</div>
				</form>
			</div>
		</div>
	</div>
