

    <section class="Main">
      <section class="Anuncios row center-xs">
        <div class="card col-xs-10">
          <div class="Anuncio row center-xs">
            <div class="Anuncio-Image col-xs-3"><img src="images/75x75.png" class="circle"></div>
            <div class="Anuncio-Info col-xs">
              <form>
                <input type="text" placeholder="Escribe un comentario...">
                <button class="btn">Enviar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card col-xs-10">
          <div class="Anuncio row center-xs">
            <div class="Anuncio-Image col-xs-3"><img src="images/75x75.png" class="circle"></div>
            <div class="Anuncio-Info col-xs start-xs">
              <p class="Name">Felipe Rubio</p>
              <p class="Hour">Hace 2 horas</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="card col-xs-10">
          <div class="Anuncio row center-xs">
            <div class="Anuncio-Image col-xs-3"><img src="images/75x75.png" class="circle"></div>
            <div class="Anuncio-Info col-xs start-xs">
              <p class="Name">Felipe Rubio</p>
              <p class="Hour">Hace 2 horas</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
          </div>
        </div>
      </section>
    </section>
