<section class="background">
  <div class="row center-xs middle-xs">
    <div class="col-xs-4">
      <div class="Login-Card card-panel grey lighten-4">
        <div class="Login-Logo"><img class="circle responsive-img" src="/images/login.jpeg"></div>
        <form action="/session/create" method="post" class="row center-xs">
          <% if(flash && flash.err) { %>
            <ul class="alert alert-success">
              <% Object.keys(flash.err).forEach(function(error){ %>
              <li> <%- JSON.stringify(flash.err[error]) %> </li>
                <% }); %>
            </ul>
          <% } %>
          <div class="col-xs-12 input-field"><i class="material-icons prefix">mail</i>
            <input class="validate" id="Signin-Email" type="email" name="email">
            <label for="Signin-Email">Email</label>
          </div>
          <div class="col-xs-12 input-field"><i class="material-icons prefix">lock</i>
            <input class="validate" id="Signin-Password" type="password" name="password">
            <label for="Signin-Password">Password</label>
          </div>
          <div class="Login-Remember col-lg-4 input-field">
            <input id="Login-Rememberme" type="checkbox">
            <label for="Login-Rememberme">Recuerdame</label>
          </div>
          <div class="Login-Forgot col-lg-8 input-field"><a class="btn-flat" href="#">Olvidó su password?</a></div>
          <div class="Login-Button col-lg-12 input-field">
            <input class="btn btn-large" type="submit" value="Ingresar">
            <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
          </div>
        </form>
        <div class="row center-lg">
          <div class="SignUp col-lg-12">
            <div class="divider"></div><a class="SignUp-Button btn-flat" href="<%= sails.getUrlFor('UserController.new') %>">Registrate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
