<section class="content">
      <div class="Login row center-xs">
        <div class="Login-Logo col-xs-12"><img src="images/login.jpeg" class="circle responsive-img"></div>
        <div class="Login-Card col-lg-6 card-panel grey lighten-4">
					<% if(flash && flash.err) { %>
						<ul class="alert alert-success">
							<% Object.keys(flash.err).forEach(function(error){ %>
							<li> <%- JSON.stringify(flash.err[error]) %> </li>
						    <% }); %>
						</ul>
					<% } %>
          <form action="/session/create" method="post" class="row">
            <div class="Login-Email col-xs-12">
              <input type="email" name="email" autofocus>
            </div>
            <div class="Login-Pass col-xs-12">
              <input name="password" type="password">
            </div>
            <div class="Login-Remember col-xs-6">
              <input type="checkbox" id="remember-me">
            </div>
            <div class="Login-Forgot col-xs-6"><a href="#" class="btn-flat"></a></div>
            <div class="Login-Button col-xs-12">
							<input class="btn" type="submit" value="Ingresar">
							<input type="hidden" name="_csrf" value="<%=_csrf %>"/>
						</div>

          </form>
        </div>
      </div>
</section>
