
<div class="container">
		<div class="row">
			<div style="margin:0% auto; max-width:300px;">
				<div class="card-panel grey lighten-4 z-depth-4 center">
					<form action="/session/create" method="POST" accept-charset="utf-8" class="form-singin">
							<div class="row">
							<img src="http://lorempixel.com/100/100/" class="circle responsive-img valign profile-image-login">
							<p class="center">Login Materialize</p>
						</div>
						<div class="row margin">
							<div class="input-field col s12">
								<i class="mdi-social-person-outline prefix"></i>
		            			<input name="email" id="email" type="text">
		            			<label for="email" class="center-align">Email</label>
							</div>
						</div>	
						<div class="row margin">
						    <div class="input-field col s12">
						        <i class="mdi-action-lock-outline prefix"></i>
						        <input name="password" id="password" type="password">
						        <label for="password">Password</label>
						    </div>
		        		</div>
		          		<div class="row">
		          			<div class="input-field col s12 l12 login-text">
		          				<input id="remember-me" type="checkbox">
		          				<label for="remember-me">Recuerdame</label>
		          			</div>
		          		</div>
		          		<div class="row">
		          			<div class="input-field col s12">
		          				<a href="/session/create" class="btn waves-effect waves-light col s12">Entrar</a>
		          			</div>
		          		</div>
		          		<div class="card-action clearfix">
		          			<div class="row">
		           				<div class="col s6 text-p">
		              				<a href="#" class=" tooltipped" data-position="top" data-delay="50" data-tooltip="Forgot your password?">Olvidó password?</a>
		            			</div>
		            			<div class="col s6 right-align text-p">
		              				<a href="/user/new" class=" tooltipped" data-position="top" data-delay="50" data-tooltip="Register now!">Registrate</a>
		            			</div>
		          			</div>
		        		</div>
		        		
					</form>
				</div>
			</div>
		</div>
</div>