include ../Header/template.pug
section.Layout-Content.row.center-lg
  include ../AnuncioNuevo/template.pug
  include ../Anuncio/template.pug
  include ../Anuncio/template.pug
  include ../Anuncio/template.pug
