<% if(session.authenticated && session.User.id_group) { %>
  <header class="row between-lg">
    <div class="Header col-lg-12">
      <div class="box">
        <div class="row between-lg middle-lg">
          <div class="User col-lg-4">
            <div class="box">
              <div class="row">
                <div class="User-image col-lg-2"><img class="circle" src="/images/65x65.jpeg"></div>
                <div class="col-lg"><a class="User-name dropdown-button" data-activates="User-dropdown"><%= session.User.name  %><i class="material-icons User-Icon">arrow_drop_down</i></a>
                  <ul class="dropdown-content" id="User-dropdown">
                    <li><a href="/user/show/<%= session.User.id %>">Editar Perfil</a></li>
                    <li><a href="/session/destroy">Cerrar Sesión</a></li>
                  </ul>
                  <p class="User-empresa"><%= session.Group.name %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="Logo col-lg-4"><img src="/images/250x70.jpeg" alt="some"></div>
        </div>
      </div>
    </div>
    <div class="Nav col-lg-12">
      <div class="box">
        <div class="Nav-Items row around-lg middle-lg">
          <div class="col-lg"><a class="Nav-Item is-active" href="/anuncios/index">Anuncios</a></div>
          <div class="col-lg"><a class="Nav-Item" href="/turnos/index">Turnos</a></div>
          <% if(session.User.admin) { %>
          <div class="col-lg"><a class="Nav-Item" href="/group/show">Grupos</a></div>
          <div class="col-lg"><a class="Nav-Item">Empleados</a></div>
          <div class="col-lg"><a class="Nav-Item">Admin</a></div>
          <% } %>
          <div class="col-lg-4"><a class="Nav-Button btn-floating btn-large"><i class="material-icons">add</i></a></div>
        </div>
      </div>
    </div>
  </header>
<% } %>
