<% if(session.authenticated && session.User.id_group) { %>
  <header class="row between-lg">
    <div class="Header col-lg-12">
      <div class="box">
        <div class="row between-lg middle-lg">
          <div class="User col-lg-4">
            <div class="box">
              <div class="row">
                <div class="User-image col-lg-2"><img class="circle" src="/images/avatars/default_user.png"></div>
                <div class="col-lg"><a class="User-name dropdown-button" data-activates="User-dropdown"><%= session.User.name  %><i class="material-icons User-Icon">arrow_drop_down</i></a>
                  <ul class="dropdown-content" id="User-dropdown">
                    <li><a href="/user/edit/<%= session.User.id %>">Perfil</a></li>
                    <li><a href="/session/destroy">Logout</a></li>
                  </ul>
                  <p class="User-empresa"><%= session.Group.name %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="Logo col-lg-4"><img class="Header-img" src="/images/Logo.png" alt="some"></div>
        </div>
      </div>
    </div>

    <div class="Nav col-lg-12">
      <div class="box">
        <div class="Nav-Items row around-lg middle-lg">
            <div class="col-lg"><a id="Nav-Anuncios" class="Nav-Item" href="/anuncios/index">Anuncios</a></div>
            <div class="col-lg"><a id="Nav-Turnos" class="Nav-Item" href="/turnolog/index">Turnos</a></div>
            <% if(session.User.admin) { %>
              <div class="col-lg"><a id="Nav-Grupos" class="Nav-Item" href="/group/show">Funcionarios</a></div>
              <div class="col-lg"><a id="Nav-Admin" class="Nav-Item" href="/admin">Administrar</a></div>

              <div id="Nav-Button" class="col-lg-4">

              </div>

            <% } %>
          </div>
      </div>
    </div>
  </header>
<% } %>
