include ../Header/template.pug
section.Layout-Content.row.center-lg
  section.Semana.col-lg-10
    .Dia#Lunes
      .row.start-lg
        .Dia-Title.col-lg-12
          p Lunes
          .divider
        .Dia-Content.col-lg-12
          .Turnos
            .row.center-lg#hello
