include ../Header/template.pug
section.Layout-Content.row.center-lg
  section.Semana.col-lg-10
    .SemanaTitle
      .row
        .col-lg-6
          p SemanaTitle
        .col-lg-6
          p userinfo
    .SemanaContent
      .Dia.row.start-lg
        .Dia-Title.col-lg-12
          p Lunes
          .divider
        .Dia-Content.col-lg-12
          .Turnos
            .row.center-lg
              .col-lg-3
                p hola
              .col-lg-3
                p hola
              .col-lg-3
                p hola
