include ../Header/template.pug
section.Layout-Content.row.center-lg
  section.col-lg-10
    .Semana
      .row.start-lg
        .Semana-Title.col-lg-12
          p Lunes
          .divider
        .Semana-Content.col-lg-12
          .Turnos
            .row.center-lg
              include ../Turno/template.pug
              include ../Turno/template.pug
              include ../Turno/template.pug
              include ../Turno/template.pug
