<section class="background">
	<div class="row center-xs middle-xs">
		<div class="col-xs-4">
			<div class="Login-Card card-panel grey lighten-4">
				<div class="Login-Logo"><img id="Login-img" class="circle responsive-img" src="/images/login-img.png"></div>
				<form action="/user/create" method="POST" class="row center-xs">
					<% if(flash && flash.err) { %>
						<% Object.keys(flash.err).forEach(function(error){ %>
							<% var error1 = flash.err[error] %>
						<script>
						var $toastContent = "<%= error1.message %>";
						document.addEventListener("DOMContentLoaded", function(event) {
							var displayCustomHTMLToast = function (content) {
								Materialize.toast(content, 5000);
							}
							displayCustomHTMLToast($toastContent);
						});
						</script>
						<% }); %>

					<% } %>
					<div class="col-xs-12 input-field"><i class="material-icons prefix">face</i>
						<input class="validate" id="Signup-Name" type="text" name="name" rquired>
						<label for="Signup-Name">Nombre</label>
					</div>
					<div class="col-xs-12 input-field"><i class="material-icons prefix">mail</i>
						<input class="validate" id="Signin-Email" type="email" name="email" required>
						<label for="Signin-Email">Email</label>
					</div>
					<div class="col-xs-12 input-field"><i class="material-icons prefix">lock</i>
						<input class="validate" id="Signin-Password" type="password" name="password" required>
						<label for="Signin-Password">Password</label>
					</div>
					<div class="Login-Button col-lg-12 input-field">
						<input class="btn btn-large" type="submit" value="Registrar">
						<input type="hidden" name="_csrf" value="<%=_csrf %>"/>
					</div>
				</form>
				<div class="row center-lg">
					<div class="SignUp col-lg-12">
						<div class="divider"></div><a class="SignUp-Button btn-flat" href="/">Volver</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
