
	<div class="row">
		<div style="margin:0% auto; max-width:300px;">
			<div class="card-panel grey lighten-4 z-depth-4 center">
				<form action="/user/create" method="POST" accept-charset="utf-8" class="form-new">
					<% if(flash && flash.err) { %>
						<ul class="alert alert-success">
							<% Object.keys(flash.err).forEach(function(error){ %>
							<li> <%- JSON.stringify(flash.err[error]) %> </li>
						    <% }); %>
						</ul>
					<% } %>
					<div class="row">
						<h4 class="center">Registro</h4>
					</div>
					<div class="row margin">
						<div class="input-field col s12">
							<i class="mdi-social-person-outline prefix"></i>
	            			<input name="name" id="name" type="text" class="validate" required>
	            			<label for="name" class="center-align">Nombre</label>
						</div>
					</div>
					<div class="row margin">
						<div class="input-field col s12">
							<i class="mdi-social-person-outline prefix"></i>
	            			<input name="lastname" id="lastname" type="text" class="validate" required>
	            			<label for="lastname" class="center-align">Apellido</label>
						</div>
					</div>
					<div class="row margin">
			        	<div class="input-field col s12">
			            	<i class="mdi-communication-email prefix"></i>
			            	<input name="email" id="email" type="email" class="validate" required>
			            	<label for="email" data-error="error" data-success="bien!" class="center-align">Email</label>
			          	</div>
        			</div>
					<div class="row margin">
					    <div class="input-field col s12">
					        <i class="mdi-action-lock-outline prefix"></i>
					        <input name="password" id="password" type="password" class="validate" required>
					        <label for="password">Password</label>
					    </div>
	        		</div>
	        		<div class="row margin">
					    <div class="input-field col s12">
					        <i class="mdi-action-lock-outline prefix"></i>
					        <input name="passwordc" id="passwordc" type="password" class="validate" required>
					        <label for="passwordc">Repetir Password</label>
					    </div>
	        		</div>
          			<div class="row">
          				<div class="input-field col s12">
          					<input type="submit" class="btn waves-effect waves-light col s12" value="Crear cuenta"/>
          					<input type="hidden" name="_csrf" value="<%=_csrf %>"/>
          				</div>
          				<div class="input-field col s12">
          					<p class="margin center medium-small sign-up">Ya tienes una cuenta? <a href="/">Ingresa</a></p>
          				</div>
          			</div>
				</form>
			</div>
		</div>
	</div>
