

<div class="container">

	<h2> Informacion de usario creado </h2>
	<ul>
		<li> <%= user.name +" "+ user.lastname %> </li>
		<li> <%= user.email %> </li>
		<li> <%= user.admin %> </li>
	</ul>

	<form action="/user/edit/<%=user.id %>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" > Editar </button>
	</form>

</div>
