header.row.between-lg
  .Header.col-lg-12
    .box
      .row.between-lg.middle-lg
        .User.col-lg-4
          .box
            .row
              .User-image.col-lg-2
                img(src="images/65x65.jpeg",class="circle")
              .col-lg
                a(class="User-name dropdown-button",data-activates="User-dropdown") Felipe Rubio
                  i(class="material-icons User-Icon") arrow_drop_down
                ul#User-dropdown.dropdown-content
                  li
                    a Editar Perfil
                  li
                    a Cerrar Sesión
                p(class="User-empresa") Jumbo La Florida

        .Logo.col-lg-4
          img(src="images/250x70.jpeg")
  .Nav.col-lg-12
    .box
      .Nav-Items.row.around-lg.middle-lg
        .col-lg
          a.Nav-Item(href="anuncios.html") Anuncios
        .col-lg
          a.Nav-Item(href="turnos.html") Turnos
        .col-lg
          a.Nav-Item(href="turnos.html") Chat
        .col-lg
          a.Nav-Item(href="turnos.html") Funcionarios
        .col-lg
          a.Nav-Item(href="turnos.html") Administrar
        .col-lg
          a.Nav-Item.is-active(href="empleados.html") Empleados
        .col-lg
          a.Nav-Item Admin
        .col-lg-4
          a.Nav-Button.btn-floating.btn-large
            i(class="material-icons") add
