doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalabel=no,initial-scale=1.0,maximun-scale=1.0,minium-scale=1.0")
  link(rel="stylesheet",href="./css/2flexboxgrid.css")
  link(rel="stylesheet",href="./css/1materialize.css")
  link(rel="stylesheet",href="./css/9app.css")
  link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
body
  section(class="Layout")
    include ./Components/SignUp/template.pug

  script(src="./js/1jquery.min.js")
  script(src="./js/2materialize.js")
  script(src="./js/9app.js")
