section.Turno.col-lg-5.card
  .Turno-Content
    .row.start-lg
      .Turno-Info.col-lg-4
        h5 Turno 4
        p 15:00 - 17:00
      .Turno-Log.col-lg-4
        h4 5/10
      .Turno-Button.col-lg-4
        a: i.material-icons add
