<div class="modal" id="Turnos-Modal">
  <div class="modal-content">
    <h4>Nuevo turno</h4>
    <form action="/turnos/create" method="PUT" class="row center-xs">
      <% if(flash && flash.err) { %>
        <% Object.keys(flash.err).forEach(function(error){ %>
          <% var error1 = flash.err[error] %>
        <script>
        var $toastContent = "<%= error1.message %>";
        document.addEventListener("DOMContentLoaded", function(event) {
          var displayCustomHTMLToast = function (content) {
            Materialize.toast(content, 5000);
          }
          displayCustomHTMLToast($toastContent);
        });
        </script>
        <% }); %>

      <% } %>
      <div class="col-lg-6 input-field">
        <input name="start" type="text" class="clockpicker form-control" value="09:30" required>
        <label for="Empleado-Email">Inicio</label>
      </div>
      <div class="col-lg-6 input-field">
        <input name="end" type="text" class="clockpicker form-control" value="10:30" required>
        <label for="Empleado-Email">Termino</label>
      </div>
      <div class="col-xs-12 input-field">
        <input id="Turno-Nombre" name="name" class="validate" type="text" required>
        <label for="Empleado-Email">Nombre</label>
      </div>
      <div class="col-xs-12 input-field">
        <input id="Turno-Cupos" name="cupos" class="validate" type="text" required>
        <label for="Turno-Cupos">Cupos</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="0" id="turno-ln" checked="checked" />
        <label for="turno-ln">Lunes</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="1" id="turno-mr" checked="checked" />
        <label for="turno-mr">Martes</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="2" id="turno-mier" checked="checked" />
        <label for="turno-mier">Miércoles</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="3" id="turno-jv" checked="checked" />
        <label for="turno-jv">Jueves</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="4" id="turno-vr" checked="checked" />
        <label for="turno-vr">Viernes</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="5" id="turno-sb" checked="checked" />
        <label for="turno-sb">Sábado</label>
      </div>
      <div class="Turno-Day col-lg">
        <input type="checkbox" class="filled-in" name="6" id="turno-dg" checked="checked" />
        <label for="turno-dg">Domingo</label>
      </div>
      <div class="Turno-Button col-lg-12 input-field">
        <input class="btn btn-large" type="submit" value="Enviar"></input>
        <input type="hidden" name="_csrf" value="&lt;%=_csrf %&gt;">
      </div>
    </form>
  </div>
</div>
