<section class="Layout-Content row center-lg">
  <section class="Semana col-lg-10">

    <div class="Dia">
      <div class="row start-lg">
        <div class="Dia-Title col-lg-12">
          <p>Lunes</p>
          <div class="divider"></div>
        </div>
        <div class="Dia-Content col-lg-12">
            <div class="Turnos">
              <div id="Turnos-Lunes" class="row center-lg">

              </div>
            </div>
        </div>
      </div>
    </div>

  </section>
</section>
