section.col-lg-8.card
  .AnuncioNuevo
    .row.start-lg
      .AnuncioNuevo-Image.col-lg-1
        img(src="/images/75x75.png",class="circle")
      .AnuncioNuevo-Form.col-lg-10
        form.box(action="index.html", method="post")
          .row.start-lg
            .col-lg-12
              textarea.AnuncioNuevo-Text(placeholder="Escribe un comentario...")
            .col-lg-12
              button.AnuncioNuevo-Btn.btn(type="submit") Enviar
