<section class="Layout-Content row center-lg">
<% if(session.User.admin) { %>
  <section class="col-lg-8 card">
    <div class="AnuncioNuevo">
      <div class="row start-lg">
        <div class="AnuncioNuevo-Image col-lg-1"><img class="circle" src="/images/75x75.png"></div>
        <div class="AnuncioNuevo-Form col-lg-10">
          <form action="/anuncios/create" class="box" method="POST" accept-charset="utf-8">
            <div class="row start-lg">
              <div class="col-lg-12">
                <textarea name="text" id="text" class="AnuncioNuevo-Text" placeholder="Escribe un comentario..." required></textarea>
              </div>
              <div class="col-lg-12">
                <input type="submit" class="AnuncioNuevo-Btn btn" value="Enviar"/>
                <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <% } %>

  <% _.each(anuncios, function(anuncio){ %>
  <section class="col-lg-8 card">
    <div class="Anuncio">
      <div class="row start-lg">
        <div class="Anuncio-Image col-lg-1"><img class="circle" src="/images/75x75.png"></div>
        <div class="Anuncio-Info col-lg-10">
          <div class="box">
            <div class="row start-lg">
              <div class="col-lg-12">
                <h5 class="Anuncio-User"><%= anuncio.autor.name %></h5>
              </div>
              <div class="col-lg-12">
                <h6 class="Anuncio-Time"><%= anuncio.createdAt %></h6>
              </div>
              <div class="col-lg-12">
                <p class="Anuncio-Text"><%= anuncio.text %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% }) %>
</section>
