<section class="Layout-Content row center-lg">
  <section class="col-lg-8 card">
    <div class="AnuncioNuevo">
      <div class="row start-lg">
        <div class="AnuncioNuevo-Image col-lg-1"><img class="circle" src="/images/75x75.png"></div>
        <div class="AnuncioNuevo-Form col-lg-10">
          <form class="box" action="index.html" method="post">
            <div class="row start-lg">
              <div class="col-lg-12">
                <textarea class="AnuncioNuevo-Text" placeholder="Escribe un comentario..."></textarea>
              </div>
              <div class="col-lg-12">
                <button class="AnuncioNuevo-Btn btn" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="col-lg-8 card">
    <div class="Anuncio">
      <div class="row start-lg">
        <div class="Anuncio-Image col-lg-1"><img class="circle" src="/images/75x75.png"></div>
        <div class="Anuncio-Info col-lg-10">
          <div class="box">
            <div class="row start-lg">
              <div class="col-lg-12">
                <h5 class="Anuncio-User">Felipe Rubio</h5>
              </div>
              <div class="col-lg-12">
                <h6 class="Anuncio-Time">Hace 2 horas</h6>
              </div>
              <div class="col-lg-12">
                <p class="Anuncio-Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-lg-8 card">
    <div class="Anuncio">
      <div class="row start-lg">
        <div class="Anuncio-Image col-lg-1"><img class="circle" src="/images/75x75.png"></div>
        <div class="Anuncio-Info col-lg-10">
          <div class="box">
            <div class="row start-lg">
              <div class="col-lg-12">
                <h5 class="Anuncio-User">Felipe Rubio</h5>
              </div>
              <div class="col-lg-12">
                <h6 class="Anuncio-Time">Hace 2 horas</h6>
              </div>
              <div class="col-lg-12">
                <p class="Anuncio-Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-lg-8 card">
    <div class="Anuncio">
      <div class="row start-lg">
        <div class="Anuncio-Image col-lg-1"><img class="circle" src="/images/75x75.png"></div>
        <div class="Anuncio-Info col-lg-10">
          <div class="box">
            <div class="row start-lg">
              <div class="col-lg-12">
                <h5 class="Anuncio-User">Felipe Rubio</h5>
              </div>
              <div class="col-lg-12">
                <h6 class="Anuncio-Time">Hace 2 horas</h6>
              </div>
              <div class="col-lg-12">
                <p class="Anuncio-Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
