	<div class="row">
		<div style="margin:0% auto; max-width:300px;">
			<div class="card-panel grey lighten-4 z-depth-4 center">
				<form action="/anuncios/create" method="POST" accept-charset="utf-8" class="form-new">
					<% if(flash && flash.err) { %>
						<% Object.keys(flash.err).forEach(function(error){ %>
							<% var error1 = flash.err[error] %>
						<script>
						var $toastContent = "<%= error1.message %>";
						document.addEventListener("DOMContentLoaded", function(event) {
							var displayCustomHTMLToast = function (content) {
								Materialize.toast(content, 5000);
							}
							displayCustomHTMLToast($toastContent);
						});
						</script>
						<% }); %>

					<% } %>
					<div class="row">
						<h4 class="center">Nuevo anuncio</h4>
					</div>
					<div class="row margin">
						<div class="input-field col s12">
							<i class="mdi-social-person-outline prefix"></i>
	            			<input name="text" id="text" type="text" class="validate" autofocus required>
	            			<label for="text" class="center-align">Descripcion</label>
						</div>
					</div>

          			<div class="row">
          				<div class="input-field col s12">
          					<input type="submit" class="btn waves-effect waves-light col s12" value="Crear Anuncio"/>
          					<input type="hidden" name="_csrf" value="<%=_csrf %>"/>
          				</div>
          			</div>
				</form>
			</div>
		</div>
	</div>
