include ../Header/template.pug
section.Layout-Content.row.center-lg
  .card.material-table.col-lg-10.col-xlg-8
    .table-header
      span.table-title Lista de Empleados
      .actions
        a.search-toggle.waves-effect.btn-flat.nopadding(href='#')
          i.material-icons search
    table#datatable
      thead: tr
          each val in [' ','Nombre','Email','Teléfono','Grupos','Tokens','Acciones']
            th= val
      tbody
        tr.Empleados-Item
          th
            img.circle(src="images/50x50.jpeg")
          each val in ['Felipe Rubio','felipe.andrez@live.cl','+569 83413625']
            th= val
          th
            select(multiple='')
              option(value="1") Option 1
              option(value="2") Option 2
              option(value="3") Option 3
          th
            p 3
          th
            a.Empleado-Edit.btn-flat(href="#Empleado-Modal"): i.material-icons edit
            form.Destroy-Button
              input.btn-flat.material-icons(value="close",type="submit")

include ../Empleado-Modal/template.pug
